<style>
    @font-face {
        font-family: 'Louis George Cafe';
        src: url({{ "fonts/OpenSans/Louis-George-Cafe.ttf" | absURL }}) format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Louis George Cafe Bold';
        src: url({{ "fonts/OpenSans/Louis-George-Cafe-Bold.ttf" | absURL }}) format('truetype');
        font-weight: bold;
        font-style: normal;
    }

    @font-face {
        font-family: 'Louis George CafeBold Italic';
        src: url({{ "fonts/OpenSans/Louis-George-Cafe-Bold-Italic .ttf" | absURL }}) format('truetype');
        font-weight: normal;
        font-style: italic;
    }

    @font-face {
        font-family: 'Louis George Cafe Italic';
        src: url({{ "fonts/OpenSans/Louis-George-Cafe-Italic.ttf" | absURL }}) format('truetype');
        font-weight: bold;
        font-style: italic;
    }

    body {
        font-family: "Louis George Cafe";
    }
</style>